.wrap-large {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1280px;
}
.wrap {
  margin: 0 auto;
  max-width: 1280px;
}
.wrap-medium {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 860px;
}
.wrap-small {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 760px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-wrapper iframe {
  @include position(absolute, 0px null null 0px);
  width: 100%;
  height: 100%;
}
