---
layout: home
logoColor: dark

---

<div class="flex">
  <div class="contact">
    <p class="contact-link"><a class="button js-open-contact" href="javascript:void(0)" title="">Work with us</a></p>
    <div class="hidden-content">
      <p class="contact-close"><a href="#close" title="" class="js-close-contact icon-x">Close</a></p>
      <h2>Tell Us About<br/>Your Project</h2>
      {% include contact_form.html %}
    </div>
  </div>
  <section class="example-wrap">
    {% assign featured = site.work | where: "category", "featured" %}
    {% for post in featured %}
      {% include excerpt_work.html %}
    {% endfor %}
  </section>
</div>

<section class="testimonial-wrap">
  <div class="testimonial">
    <img src="/images/quote-jsanto.jpg" width="100"/>
    <p>“Human Shapes is my go-to partner for all things design. Their work is thoughtful, relevant, and &mdash; most important to me &mdash; reliably&nbsp;delivered.”</p>
    <p class="testimonial-by"><a href="http://objectlateral.com/" title="Object Lateral">Jerod Santo, <em>Object&nbsp;Lateral</em></a></p>
  </div>
  <div class="testimonial">
    <img src="/images/quote-jkemerling.jpg" width="100"/>
    <p>“When it comes to web, Human Shapes knows how to bring it. They are hard-working, collaborative, and always deliver on deadline with impeccable&nbsp;quality.”</p>
    <p class="testimonial-by"><a href="http://www.justinkemerling.com/" title="Justink Kemerling Design Co.">Justin Kemerling, <em>Designer&nbsp;&amp;&nbsp;Activist</em></a></p>
  </div>
</section>

<section class="studio">
  <h2>The Studio</h2>
  <div class="studio-image" data-src="/images/team.jpg" data-src-retina="/images/team_2x.jpg" data-src-bg>
    {% for team_hash in site.data.people %}
    {% assign teammate = team_hash[1] %}
      <div class="studio-teammate">
        <h3>{{ teammate.name }}</h3>
        <p>{{ teammate.bio }}</p>
        <ul class="studio-teammate-links">
          {% if teammate.twitter %}
            <li><a href="http://twitter.com/{{ teammate.twitter }}" class="ss-icon" title="@{{ teammate.twitter }} on Twitter">Twitter</a></li>
          {% endif %}
          {% if teammate.dribbble %}
            <li><a href="http://dribbble.com/{{ teammate.dribbble }}" class="ss-icon" title="@{{ teammate.dribbble }} on Dribbble">Dribbble</a></li>
          {% endif %}
          {% if teammate.github %}
            <li><a href="http://github.com/{{ teammate.github }}" class="ss-icon" title="{{ teammate.github }} on Github">Github</a></li>
          {% endif %}
          {% if teammate.email %}
            <li><a href="mailto:{{ teammate.email }}" class="ss-icon" title="Email {{ teammate.name }}">Email</a></li>
          {% endif %}
        </ul>
      </div>
    {% endfor %}
  </div>
</section>
