.icon-logo-dark { background-image: url('png/logo-dark.png'); background-repeat: no-repeat; }

.icon-logo-light { background-image: url('png/logo-light.png'); background-repeat: no-repeat; }

.icon-logo-red { background-image: url('png/logo-red.png'); background-repeat: no-repeat; }

.icon-menu-black { background-image: url('png/menu-black.png'); background-repeat: no-repeat; }

.icon-menu-white { background-image: url('png/menu-white.png'); background-repeat: no-repeat; }

.icon-menu { background-image: url('png/menu.png'); background-repeat: no-repeat; }

.icon-x { background-image: url('png/x.png'); background-repeat: no-repeat; }

