<form class="contact-form" accept-charset="UTF-8" action="https://formkeep.com/f/0ead116507fc" method="POST">
  <input type="hidden" name="utf8" value="✓">
  <label for="company">Company Name</label>
  <input type="text" name="company">
  <label for="name">Your Name</label>
  <input type="text" name="name" required>
  <label for="email">Your Email Address</label>
  <input type="email" name="email" required>
  <label for="company">Project Information</label>
  <textarea name="information" required></textarea>
  <input class="button-submit" type="submit" value="Send">
</form>
