{% assign author = site.data.people[post.author] %}

<a href="{{ post.url }}" title="View Post">
  <article class="blog_list-post">
    <img class="blog_list-post-avatar" src="{{ author.avatar }}" alt="{{ author.name }}" />
    <p class="blog_list-post-date">{{ post.date | date: "%B %d, %Y" }}</p>
    <h1>{{ post.title }}</a></h1>
    <p>{{ post.excerpt }}</p>
  </article>
</a>
