<div class="example example--{{ post.grid_size }} example--style-{{ post.style }}">
  <a class="example-link" href="{{ post.url }}" title="">
    <div class="example-bg-color" style="background-color: {{ post.brand_color }};"></div>
    <div class="example-bg-image" style="background-image: url({{ post.image }});"></div>
    <div class="example-text">
      <h3 class="example-title">{{ post.title }}</h3>
      <h4 class="example-headline">{{ post.headline }}</h4>
    </div>
  </a>
</div>
