    <footer class="footer_main">
      <div class="footer_main-wrap">
        <h2>Contact Us</h2>
        <p>Using our<br/><a href="/contact/" title="">Contact Form</a></p>
        <p class="footer_main-inbetween">or</p>
        <p>Via Email at<br/><a href="mailto:info@humanshapes.co" title="">info@humanshapes.co</a></p>
        <p class="footer_main-inbetween">or</p>
        <p class="footer-social-links-heading">On Social Media</p>
        <ul class="footer-social-links">
          <li><a href="http://twitter.com/humanshapes" class="ss-icon">Twitter</a></li>
          <li><a href="https://dribbble.com/codyjames/buckets/263491-Human-Shapes" class="ss-icon">Dribbble</a></li>
          <li><a href="http://facebook.com/humanshapes" class="ss-icon">Facebook</a></li>
        </ul>
      </div>
    </footer>
    <script src="/js/compiled.min.js"></script>
    <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
  </body>
</html>
