<header class="header_main">
  <div class="header_main-wrap">
    {% include nav.html %}
    <div class="hs_logo"><a class="icon-logo-red" href="/" title="Home">Human Shapes</a></div>
    <p class="header_main-headline">Interface and Experience<br/>Planning, Design &amp;&nbsp;Implementation</p>
  </div>
</header>
