{% if page.style %}
  {% assign logoColor = page.style %}
{% else %}
  {% assign logoColor = red %}
{% endif %}

<header class="header_internal" data-src="{{ page.hero }}" data-src-retina="{{ page.hero2x }}" data-src-bg>
  <div class="header_internal-wrap">
    {% include nav.html %}
    <div class="hs_logo"><a class="icon-logo-{{ logoColor }}" href="/" title="Home">Human Shapes</a></div>
    <h1 class="header_internal-title">{{ page.title }}</h1>
    <h2 class="header_internal-headline">{{ page.headline }}</h2>
  </div>
</header>
