{% if page.logoColor %}
  {% assign logoColor = page.logoColor %}
{% else %}
  {% assign logoColor = "red" %}
{% endif %}

<header class="header_main">
  <div class="header_main-wrap">
    {% include nav.html %}
    <div class="hs_logo"><a class="icon-logo-{{ logoColor }}" href="/" title="Home">Human Shapes</a></div>
  </div>
</header>
