<meta content="{{ site.title }}" property="og:site_name">
{% if page.title %}
  <meta content="{{ page.title }} | {{ site.title }}" property="og:title">
  <title>{{ page.title }} | {{ site.title }}</title>
{% else %}
  <meta content="{{ site.title }}" property="og:title">
  <title>{{ site.title }}</title>
{% endif %}
{% if page.title %}
  <meta content="article" property="og:type">
{% else %}
  <meta content="website" property="og:type">
{% endif %}
{% if page.headline %}
  <meta content="{{ page.headline }}" property="og:description">
  <meta name="description" content="{{ page.headline }}">
{% else %}
  <meta content="{{ site.description }}" property="og:description">
  <meta name="description" content="{{ site.description }}">
{% endif %}
{% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}
{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/" property="article:author">
{% endif %}
{% if page.hero %}
  <meta content="{{ site.url }}{{ page.hero }}" property="og:image">
{% else %}
  <meta content="{{ site.url }}/images/share.jpg" property="og:image">
{% endif %}
{% if page.categories %}
  {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
  {% endfor %}
{% endif %}
{% if page.tags %}
  {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
  {% endfor %}
{% endif %}
