<a class="menu_icon js-toggle-nav" href="javascript:void(0)" title="View Menu">
  <div class="menu_icon-bar menu_icon-bar--1"></div>
  <div class="menu_icon-bar menu_icon-bar--2"></div>
  <div class="menu_icon-bar menu_icon-bar--3"></div>
</a>
<nav class="nav">
  <div class="nav-bg"></div>
  <ul>
    <li><a href="/" title="">Home</a></li>
    <li><a href="/work/" title="">Work</a></li>
    <li><a href="/blog/" title="">Blog</a></li>
    <li><a href="/contact/" title="">Contact</a></li>
  </ul>
</nav>
