@import "../_source/bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "base/base";
@import "components/all";
@import "layouts/all";

html {
  border: 20px solid $white;
  @media #{$tiny-query} {
    border: none;
  }
}

body {
  background-color: $base-background-color;
  color: $medium-gray;
  line-height: 1.75em;
}

.site_wrapper {
  overflow: hidden;
}
