.blog_list {
  max-width: 680px;
  margin: 0 auto 120px;
  @media screen and (max-width: 860px) { margin-bottom: 65px; }
  @media screen and (max-width: 690px) { margin-bottom: 50px; }

  &-post {
    border-bottom: 2px solid $base-accent-color;
    margin: 0 20px 30px;
    padding: 0 0 30px 90px;
    position: relative;
    &:last-child { border-bottom: 0; }

    @media screen and (max-width: 690px) {
      padding-left: 0;
      .blog_list-post-avatar {
        display: none;
      }
    }

    &-avatar {
      @include position(absolute, 5px null null 10px);
      @include size(60px);
      border-radius: 50%;
    }

    h1 {
      font-size: 1.25em;
      margin-bottom: 10px;
      a { color: $base-font-color; }
    }

    p {
      font-family: $serif;
      margin-bottom: 0;
    }
  }
}
