.url_contact_index,
.url_thanks_ {
  @include background(linear-gradient($red-orange, $orange) top repeat);
  .header_main {
    margin-bottom: 40px;
    .hs_logo {
      a { color: $white; }
    }
    p { color: $white; }
  }
  .contact-form,
  .thanks {
    margin-bottom: 80px;
  }
  .post-links {
    a {
      color: $white;
      em { color: $medium-gray; }
      &:hover, &:focus {
        color: $white;
        em { color: $dark-gray; }
      }
    }
  }
  .footer_main {
    background: $white;
    padding-top: 95px;
    position: relative;
    &:before {
      @include position(absolute, -40px -200px null);
      border-radius: 50%;
      content: "";
      background: #F3855E;
      height: 80px;
    }
  }
}
