.example {
  float: left;
  height: 300px;
  margin-bottom: 20px;
  @media screen and (max-width: 1020px) { height: 256px; }
  @media screen and (max-width: 860px) { height: 216px; }
  @media screen and (max-width: 690px) {
    height: 176px;
    .example-link {
      margin-right: 0;
    }
  }
  @media #{$tiny-query} {
    margin-bottom: 0;
  }
  &:nth-child(even) {
    .example-link {
      margin-right: 0;
    }
  }
  &
  &-small {
    width: 33.5%; // slightly larger to account for loss of size from padding
    @media screen and (max-width: 1020px) { width: 40%; }
    @media screen and (max-width: 860px) { width: 50%; }
    @media screen and (max-width: 690px) { width: 100%; }
  }
  &-large {
    width: 66.5%;
    @media screen and (max-width: 1020px) { width: 60%; }
    @media screen and (max-width: 860px) { width: 50%; }
    @media screen and (max-width: 690px) { width: 100%; }
  }
}
