.example {
  &-wrap {
    position: relative;
    margin-top: -240px;
    margin-bottom: 60px;
    z-index: 1;
    @media #{$mobile-query} {
      margin-bottom: 0;
    }
  }
}

.testimonial {
  &-wrap {
    margin-bottom: 80px;
    @media #{$mobile-query} {
      margin-bottom: 20px;
    }
  }
}

.studio {
  margin-bottom: 75px;
}
