.post {
  max-width: 760px;
  margin: 0 auto;
  padding: 0 40px;

  @media screen and (max-width: 479px) {
    padding: 0 30px;
  }

  &-content {
    p {
      color: $dark-gray;
      font-family: $serif;
      font-size: 1.2em;
      line-height: 1.75em;
      margin-bottom: 30px;

      @media screen and (max-width: 860px) { margin-bottom: 25px; font-size: 1.1em; }
      @media screen and (max-width: 690px) { margin-bottom: 20px; font-size: 1em; }
      &:first-child {
        &:first-letter {
          font-size: 1.375em;
        }
      }
    }

    img {
      border: 1px solid #eee;
      margin: 0 -1px 10px;
      max-width: 100%;
    }

    ol, ul {
      margin-bottom: 20px;
      padding-left: 30px;
    }

    ol { list-style: decimal inside; }
    ul { list-style: disc inside; }

    li {
      margin-bottom: 10px;
      font-size: 1.25em;
      line-height: 1.375em;
      // color: $dark-gray; // looks kind of nice when different from normal text color
    }

    pre {
      margin-bottom: 30px;
    }

    blockquote {
      position: relative;
      padding-left: 30px;
      border: none;

      p {
        &:before {
          content: "\201C";
          position: absolute;
          left: 0;
          top: 0;
          font-size: 1.75em;
          font-weight: bold;
        }
      }
    }

    iframe {
      margin: 10px auto !important;
    }

    hr { border-color: $medium-gray; }
  }

  &-content,
  &-links {
    h1, h2, h3, h4 {
      margin-bottom: 30px;
      padding-top: 30px;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.65em;
      letter-spacing: 2px;
      color: $dark-gray;
      @media screen and (max-width: 860px) { margin-bottom: 25px; padding-top: 25px; font-size: 1.075em; }
      @media screen and (max-width: 690px) { margin-bottom: 20px; padding-top: 20px; font-size: 1em; } // fix font sizes for responsive
    }

    h2 { font-size: 1.4em; }
    h3 { font-size: 1.15em; }
  }

  &-links {
    margin: 65px 40px 0;
    padding: 60px 10px 40px;
    border: 3px solid #000;
    border-bottom: 0;

    @media screen and (max-width: 860px) {
      margin: 60px 40px 0;
      padding: 50px 10px 40px;
    }

    @media screen and (max-width: 690px) {
      margin: 55px 0 0;
    }

    h3 {
      padding-top: 0;
    }

    ul {
      text-align: center;
      padding-left: 0;
    }

    li {
      margin-bottom: 12px;
      font-family: $serif;
      font-size: 1.15em;
      line-height: 1.25em;
      color: $dark-gray;
      list-style: none;
    }

    a {
      &,
      &:hover,
      &:focus {
        color: $dark-gray;
      }

      &:visited, &:visited em {
        text-decoration: line-through !important;
      }

      em {
        color: $red-orange;
        font-style: normal;
        &:hover {
          color: $red-orange;
          border-bottom: 2px solid $red-orange;
        }
      }

    }
  }

  &-author {
    border-top: 2px solid $base-accent-color;
    margin-top: 60px;
    padding: 60px 0 30px 90px;
    position: relative;
    text-align: left;

    &-avatar {
      @include position(absolute, 60px null null 10px);
      @include size(60px);
      border-radius: 50%;
    }

    h3 {
      font-size: 1.25em;
      margin-bottom: 10px;
      color: $base-font-color;
    }

    p {
      font-family: $serif;
      margin-bottom: 0;
    }
  }
}
