.contact {
  @include background(linear-gradient($red-orange, $orange, $red-orange) top repeat);
  @include position(relative, 14px null null 50%);
  @include size(516px);
  @include transition(all 0.15s $ease-in-out-quint, background-position 15s linear);
  background-size: auto 200%;
  border-radius: 1000px;
  color: $white;
  margin: 0 0 50px -258px;
  overflow: hidden;
  z-index: 0;

  &:hover {
    background-position: 0px -3000px;

    .show-contact & {
      @include transform(translateY(-14px));
    }
  }

  .show-contact & {
    @include size(1160px);
    @include transform(translateY(-14px));
    background-position: top !important;
    margin-left: -580px;

    @media screen and (max-width: 600px) {
      @include size(1100px);
      margin-left: -550px;
    }

    @media screen and (max-width: 500px) {
      @include size(1040px);
      margin-left: -520px;
    }
  }

  &-link {
    @include transition(all 1s $ease-in-out-quad 0.2s);
    @include position(relative, 156px null null);
    opacity: 1;
    text-align: center;
    z-index: 10;

    .show-contact & {
      @include transition-delay(0);
      @include transition-duration(.1s);
      opacity: 0;
      z-index: 0;
    }

    a {
      @include transition(all 0.3s $ease-in-out-quint);
      display: inline-block;

      &:hover {
        background: $white;
        color: $red-orange;
      }

      .show-contact & { pointer-events: none; }
    }
  }

  &-close {
    @include position(relative, 28px null null);
    text-align: center;
    pointer-events: none;

    .show-contact & { pointer-events: auto; }

    a {
      @include size(32px);
      display: inline-block;
      text-indent: -9999px;
    }
  }

  .hidden-content {
    @include transition(all .15s $ease-in-out-quad);
    opacity: 0;

    .show-contact & {
      @include transition-duration(.5s);
      opacity: 1;
    }
  }

  h2 {
    @include position(relative, 82px null null);
    font-size: 1.175em;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }

  &-form {
    @include clearfix;
    max-width: 460px;
    margin: 0 auto;
    padding: 0 20px;
    color: $white;

    label {
      margin-bottom: 16px;
      line-height: 1em;
    }

    input, textarea {
      border: 2px solid $white;
      border-radius: 7px;
      font-size: 1.125em;
      line-height: 1.25em;
      padding: 16px 12px;
      @media screen and (max-width: 600px) { padding: 14px 12px; }
      @media screen and (max-width: 500px) { padding: 12px; }
      &.error { background-color: $error; color: $dark-gray; }
    }

    textarea {
      height: 250px;
      font-size: 1em;
      @media screen and (max-width: 600px) { height: 200px; }
      @media screen and (max-width: 500px) { height: 150px; }
    }

    .button-submit {
      width: auto;
      float: right;
      margin-top: 2px;
      @media screen and (max-width: 500px) { width: 100%; }
    }
  }

  .contact-form {
    @include position(relative, 118px null null);
    padding: 0;
    @media screen and (max-width: 600px) { max-width: 370px; }
    @media screen and (max-width: 500px) { max-width: 320px; }
    @media screen and (max-width: 400px) { max-width: 80vw; }
  }
}

.thanks {
  margin: 0 auto;
  max-width: 460px;
  padding: 0 20px;
  color: white;

  h2 {
    font-size: 1.65em;
    letter-spacing: 2px;
    margin-bottom: 30px;
    padding-top: 30px;
    text-transform: uppercase;
    text-align: center;

    @media screen and (max-width: 860px) { margin-bottom: 25px; padding-top: 25px; font-size: 1.075em; }
    @media screen and (max-width: 690px) { margin-bottom: 20px; padding-top: 20px; font-size: 1em; }
  }

  p {
    margin-bottom: 30px;
    font-family: serif;
    font-size: 1.425em;
    line-height: 1.375em;
  }
}

.flex {
  position: relative;
}
