.example {
  color: $white;
  float: left;
  height: 300px;
  margin-bottom: 20px;
  position: relative;

  @media screen and (max-width: 1020px) { height: 256px; }
  @media screen and (max-width: 860px) { height: 216px; }
  @media screen and (max-width: 690px) {
    height: 176px;
    .example-link { margin-right: 0; }
  }
  @media #{$tiny-query} {
    margin-bottom: 0;
  }

  &:nth-child(even) {
    .example-link { margin-right: 0; }
  }

  &--small {
    width: 33.5%; // slightly larger to account for loss of size from padding
    @media screen and (max-width: 1020px) { width: 40%; }
    @media screen and (max-width: 860px) { width: 50%; }
    @media screen and (max-width: 690px) { width: 100%; }
  }

  &--large {
    width: 66.5%;
    @media screen and (max-width: 1020px) { width: 60%; }
    @media screen and (max-width: 860px) { width: 50%; }
    @media screen and (max-width: 690px) { width: 100%; }
  }

  &-wrap {
    @include clearfix;
    @include transition(all 0.2s ease-in-out);
    @extend .wrap;
    .show-contact & { margin-top: 0; }
  }

  &-link {
    @include position(absolute, 0);
    display: block;
    margin-right: 20px;
    overflow: auto;
  }

  &-bg {
    &-image, &-color {
      @include transition(all .3s $ease-in-out-quad);
      @include position(absolute, 0);
      display: block;
    }
    &-image {
      background-size: cover;
      background-position: center;
      a:hover & { opacity: .2; }
    }
    &-color {
      background: $base-accent-color; // temporary color
    }
  }

  &-text {
    @include transition(all 0.3s $ease-in-out-quad);
    @include position(absolute, null 30px 30px 30px);
    color: $white;
    display: block;
    text-align: left;

    .no-text & { display: none; }
  }

  &-title {
    @extend %title;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 5px;
    text-align: left;
  }

  &-headline {
    @extend %headline;
    text-align: left;
  }
}
