.footer_main {
  color: $dark-gray;
  padding-bottom: 40px;
  text-align: center;
  .layout_work &,
  .layout_post &,
  .layout_page &,
  .url_blog_index & {
    @include background(linear-gradient($red-orange, $orange) top repeat);
    margin-top: 20px;
    padding-top: 40px;
    position: relative;
    color: $white;
    &:before {
      @include position(absolute, -40px -200px null);
      border-radius: 50% 50% 0 0;
      content: "";
      background: #F36D5E;
      height: 80px;
    }
  }
  &-wrap {
    @extend .wrap;
  }
  a {
    color: $dark-gray;
    &:hover { color: $base-accent-color; }

    .layout_work &,
    .layout_post &,
    .layout_page &,
    .url_blog_index & {
      color: $white;
      &:hover {
        color: $dark-gray;
      }
    }
  }
  h2, p {
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  h2 {
    margin-bottom: 70px;
    @media screen and (max-width: 900px) { margin-bottom: 60px; }
    @media screen and (max-width: 740px) { margin-bottom: 50px; }
    @media #{$mobile-query} { margin-bottom: 35px; }
  }
  p {
    margin-bottom: 40px;
    @media screen and (max-width: 900px) { margin-bottom: 35px; }
    @media screen and (max-width: 740px) { margin-bottom: 30px; }
    @media #{$mobile-query} { margin-bottom: 20px; }
    a {
      display: inline-block;
      padding-bottom: 5px;
    }
    &.footer_main-inbetween {
      text-transform: none;
      letter-spacing: 0;
    }
  }
}

.footer-social-links {
  @include clearfix;
  display: inline-block;
  margin-bottom: 40px;
  text-align: center;

  &-heading {
    margin-bottom: 5px !important;
  }
  li {
    display: inline-block;
    font-size: 1.2em;
    margin: 0 15px 0 0;
    &:last-child {
      margin: 0;
    }
  }
}

// Underlines
.footer-social-links,
.footer_main p a {
  position: relative;

  &:before {
    @extend %rounded-underline;
    background-color: $base-accent-color;
    content: "";
  }
  .layout_work &:before,
  .layout_post &:before,
  .layout_page &:before,
  .url_blog_index &:before {
    background-color: $dark-gray;
  }
}
