.header_main {
  @include clearfix;
  margin-bottom: 70px;
  padding-top: 50px;
  @media screen and (max-width: 860px) { margin-bottom: 55px; }
  @media screen and (max-width: 690px) { margin-bottom: 40px; }
  .layout_home & {
    margin-bottom: 10px;
  }
  &-wrap {
    @extend .wrap;
    position: relative;
  }
  .hs_logo {
    font-size: 1.25em;
    text-align: center;
    letter-spacing: .2em;
    font-weight: 600;
    a {
      display: inline-block;
      padding-top: 100px;
      background-position: top center;
      text-transform: uppercase;
      color: $red-orange;
    }
  }
  &-headline {
    margin: 40px 0 30px;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.25em;
    text-align: center;
    color: $medium-gray;
    &:first-line {
      color: $dark-gray;
    }
    @media screen and (max-width: 650px) { font-size: 1.875em; }
    @media screen and (max-width: 520px) { font-size: 1.525em; }
  }
}

.header_internal {
  @include clearfix;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $white;
  padding: 70px 0;
  position: relative;
  margin-bottom: 80px;
  @media screen and (max-width: 1020px) {  padding-bottom: 60px; margin-bottom: 70px; }
  @media screen and (max-width: 860px) {  padding-bottom: 40px; margin-bottom: 60px; }
  @media screen and (max-width: 690px) { padding-bottom: 20px; padding-top: 38px; margin-bottom: 50px; }
  .url_work_viirt_ & { background-position: bottom center; }
  &:before {
    @include position(absolute, null -100px -15px);
    border-radius: 50% 50% 0 0;
    content: "";
    background: $white;
    height: 30px;
  }
  .light & { color: $white; }
  .dark & { color: $dark-gray; }
  &-wrap {
    @extend .wrap;
    position: relative;
  }
  .hs_logo {
    margin-bottom: 35px;
    font-size: 1.125em;
    text-align: left;
    padding-left: 78px;
    letter-spacing: 1px;
    @media screen and (max-width: 1020px) { margin-bottom: 30px; }
    @media screen and (max-width: 860px) { margin-bottom: 25px; }
    @media screen and (max-width: 690px) { padding-left: 38px; margin-bottom: 20px; }
    a {
      display: inline-block;
      height: 65px;
      width: 49px;
      background-position: top center;
      text-indent: -9999px;
      text-transform: uppercase;
      color: $red-orange;
      .light & {
        color: $white;
      }
      .dark & {
        color: $dark-gray;
      }
    }
  }
  &-title {
    @extend %title;
    margin: 2em 0 0;
  }
  &-headline {
    @extend %headline;
    margin-bottom: 60px;
    @media screen and (max-width: 1020px) { margin-bottom: 50px; }
    @media screen and (max-width: 860px) { margin-bottom: 40px; }
  }
  img {
    max-width: 100%;
    margin: 0 auto;
  }
}
