.menu_icon {
  @include position(absolute, 11px 78px null null);
  @include size(40px 35px);
  display: inline-block;
  z-index: 100;

  @media screen and (max-width: 860px) {
    right: 48px;
    width: 36px;
  }

  @media screen and (max-width: 690px) {
    margin-top: 2px;
    right: 38px;
    width: 32px;
  }

  &-bar {
    @include size(100% 4px);
    @include transform-origin(37px 2px);
    @include transition(all .3s $ease-in-out-quint);
    background: $dark-gray;
    border-radius: 8px;
    margin: 8px 0;

    @media screen and (max-width: 860px) {
      @include transform-origin(35px 2px);
    }

    @media screen and (max-width: 690px) {
      @include transform-origin(30px 2px);
      margin: 6px 0;
    }

    .show-nav &--1 {
      @include transform(rotate(-45deg));
    }
    .show-nav &--2 {
      opacity: 0;
    }
    .show-nav &--3 {
      @include transform(rotate(45deg));
    }

    .light &,
    .url_thanks_ &,
    .show-nav &,
    .url_contact_index & {
      background: $white;
    }
  }
}

.nav {
  @include position(absolute, -25px 38px null null);
  background: none;
  padding: 108px 40px 20px;
  z-index: 10;

  @media screen and (max-width: 860px) { top: -15px; padding: 93px 10px 20px 30px; }
  @media screen and (max-width: 690px) { right: 18px; top: -7px; padding: 78px 20px 10px; }

  &-bg {
    @include background(linear-gradient($orange, $red-orange) top repeat);
    @include position(absolute, -600px null null -100%);
    @include size(1200px);
    @include transform(translateX(1200px) translateY(-1300px));
    @include transition(transform .3s $ease-in-out-quint);
    border-radius: 50%;
    display: block;

    .show-nav & {
      @include transform(translateX(0) translateY(0));
    }
  }

  ul {
    @include transition(opacity .1s $ease-in-out-quad .2s);
    opacity: 0;
    position: relative;
    visibility: hidden;

    .show-nav & {
      visibility: visible;
      opacity: 1;
    }
  }

  li {
    @include transition(transform .3s $ease-in-out-quint);
    @include transform(translateX(0) translateZ(0));
    font-size: 1.125em;
    letter-spacing: 0.125em;
    margin-right: -3px;
    margin-bottom: 12px;
    text-align: right;
    text-transform: uppercase;
  }

  a {
    font-weight: 600;
    color: $white;
    position: relative;

    &:before {
      @extend %rounded-underline;
      right: 3px;
    }
    &:hover:before { content: ""; }
  }
}
