.studio {
  @extend .wrap;
  @include background(linear-gradient($red-orange, $orange) top repeat);
  color: $white;
  overflow: auto;

  h2 {
    text-align: center;
    margin: 72px 0;
    text-transform: uppercase;
    font-size: 1.175em;
    letter-spacing: .25em;

    @media screen and (max-width: 900px) { margin: 57px 0; }
    @media screen and (max-width: 740px) { margin: 42px 0; }
  }

  &-image {
    @include clearfix;
    padding: 150px 80px;
    background: #D46051 center no-repeat;
    background-size: cover;

    @media screen and (max-width: 1020px) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media screen and (max-width: 900px) { padding: 80px 20px; }
    @media screen and (max-width: 740px) { padding: 60px 10px; }
    @media #{$mobile-query} { padding: 20px 30px; }
  }
  &-teammate {
    float: left;
    width: 50%;
    padding: 20px 75px;
    text-align: left;

    @media screen and (max-width: 900px) {
      padding-left: 50px;
      padding-right: 50px;
    }
    @media screen and (max-width: 740px) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @media #{$mobile-query} {
      float: none;
      width: auto;
      padding-left: 0;
      padding-right: 0;
    }

    &:nth-child(odd) {
      border-right: 2px solid $white;
      margin-right: -1px;
      @media #{$mobile-query} {
        border-right: none;
        border-bottom: 2px solid $white;
        margin-right: 0;
        padding-bottom: 30px;
      }
    }

    &:nth-child(even) {
      border-left: 2px solid $white;
      margin-left: -1px;
      @media #{$mobile-query} {
        border: none;
        margin-left: 0;
        padding-top: 30px;
      }
    }

    h3 {
      font-size: 1.125em;
      letter-spacing: .1em;
      margin-bottom: 1em;
    }

    p {
      font-family: $serif;
      font-size: 1em;
      font-weight: 300;
      line-height: 1.375em;
    }

    &-links {
      overflow: auto;
      padding: 15px 0 0;
      li {
        float: left;
        font-size: 1.3em;
        margin-right: 15px;
        a {
          color: $white;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
