.testimonial {
  float: left;
  width: 50%;
  padding: 50px 95px;
  text-align: center;
  @media screen and (max-width: 1040px) {
    padding-left: 75px;
    padding-right: 75px;
  }
  @media screen and (max-width: 900px) {
    padding-left: 45px;
    padding-right: 45px;
  }
  @media screen and (max-width: 740px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media #{$mobile-query} {
    float: none;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  &:nth-child(odd) {
    border-right: 2px solid $red-orange;
    margin-right: -1px;
    @media #{$mobile-query} {
      border-right: none;
      border-bottom: 2px solid $red-orange;
      margin-right: 0;
    }
  }
  &:nth-child(even) {
    border-left: 2px solid $red-orange;
    margin-left: -1px;
    @media #{$mobile-query} {
      border: none;
      margin-left: 0;
    }
  }
  &-wrap {
    @include clearfix;
    @extend .wrap;
    @media #{$mobile-query} {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  img {
    margin: 0 auto 20px;
    border-radius: 10em;
  }
  p {
    font-family: $serif;
    font-size: 1.0625em;
    &.testimonial-by {
      font-family: $sans-serif;
      font-weight: 600;
      color: $red-orange;
      line-height: 1.2em;
      margin: 0;
      em {
        font-family: $serif;
        font-size: .9em;
        font-weight: 400;
      }
    }
  }
}
