{% include head.html %}

<div class="site_wrapper">
  {% include header.html %}
  <div class="post">

    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <article class="post-content">
      {{ content }}
    </article>

  </div>
  {% include footer.html %}
</div>
