{% include head.html %}
{% assign author = site.data.people[page.author] %}

<div class="site_wrapper">
  {% include header.html %}
  <div class="post">
    <article class="post-content">
      <h2>{{ page.title }}</h2>
      {{ content }}
    </article>
    <div class="post-author">
      <img class="post-author-avatar" src="{{ author.avatar }}" alt="{{ author.name }}" />
      <h3>{{ author.name }}</h3>
      <p>{{ author.bio }}</p>
    </div>
    <div class="post-links">
      <h3>What Next?</h3>
      <ul>
        <li>Share this on
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=humanshapes&related=humanshapes" class="link-twitter" target="_blank" >Twitter</a> or&nbsp;<a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" class="link-facebook js-share-popup" rel="nofollow" target="_blank" >Facebook</a>
        </li>
        <li><a href="/" title="">Learn more about <em>Human Shapes</em></a></li>
        <li><a href="/blog/" title="">View More <em>Blog Posts</em></a>
          {% if page.previous %}
            (<a href="{{ page.previous.url }}" title="">or jump to <em>{{ page.previous.title }}</em></a>)
          {% endif %}
        </li>
        <li><a href="http://tinyletter.com/humanshapes" title="">Sign up for our <em>Tiny[News]Letter</em></a></li>
      </ul>
    </div>
  </div>
  {% include footer.html %}
</div>
