{% include head.html %}

<style>
.header_internal {
  background-color: {{ page.brand_color }};
}
</style>

<div class="site_wrapper">
  {% include header_internal.html %}
  <div class="post">
    <article class="post-content">
      {{ content }}
    </article>
    <div class="post-links">
      <h3>What Next?</h3>
      <ul>
        <li>Share this on
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=humanshapes&related=humanshapes" class="link-twitter" target="_blank" >Twitter</a> or&nbsp;<a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" class="link-facebook js-share-popup" rel="nofollow" target="_blank" >Facebook</a>
        </li>
        <li><a href="/" title="">Learn more about <em>Human&nbsp;Shapes</em></a></li>
        <li><a href="/work/" title="">View More <em>Case&nbsp;Studies</em></a>
          {% if page.previous %}
            (<a href="{{ page.previous.url }}" title="">or jump to <em>{{ page.previous.title }}</em></a>)
          {% endif %}
        </li>
        <li><a href="#" title="">Sign up for our <em>Tiny[News]Letter</em></a></li>
      </ul>
    </div>
  </div>
  {% include footer.html %}
</div>
