button,
input[type="submit"] {
  // @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button {
  padding: 12px 22px;
  border: 2px solid $white;
  border-radius: 4em;
  color: $white;
  font-size: 1.125em;
  font-weight: 600;
  letter-spacing: .25em;
  line-height: normal;
  text-transform: uppercase;
}

.button-social {
  @extend .button;
  @include transition(all 0.1s $ease-in-out-quint);
  background: $white;
  color: $dark-gray;
  font-size: 1.2em;
  span {
    position: relative;
    top: 2px;
  }
}

.button-twitter {
  @extend .button-social;
  border-color: $twitter;
  color: $twitter !important;
  &:hover {
    background: $twitter;
    color: $white !important;
  }
}
.button-facebook {
  @extend .button-social;
  border-color: $facebook;
  color: $facebook !important;
  &:hover {
    background: $facebook;
    color: $white !important;
  }
}

.link-twitter {
  color: $twitter !important;
  &:hover {
    border-bottom: 2px solid $twitter;
    color: $twitter !important;
  }
}

.link-facebook {
  color: $facebook !important;
  &:hover {
    border-bottom: 2px solid $facebook;
    color: $facebook !important;
  }
}

.button-submit {
  padding: 15px 86px !important;
  border-radius: 7px;
  background: $white;
  color: $orange;
  font-size: 1.125em;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  &:hover, &:focus {
    color: $red-orange;
  }
}

span.button-align-center {
  display: block;
  text-align: center;
}

.button-site_link {
  @include transition(all .1s $ease-in-out-quint);
  border: 3px solid $red-orange;
  border-radius: 5em;
  color: $red-orange;
  display: inline-block;
  font-family: $sans-serif;
  letter-spacing: .05em;
  margin-top: 30px;
  padding: 20px 60px;
  text-align: center;
  &:hover {
    background: $red-orange;
    color: $white;
  }
}
