// Miscellaneous style fixes/hacks for browser inconsistencies or
// issues that could potentially be resolved at some point in the future.
// Check relevance on occasion to keep up to date.

// Stops ios from changing your font sizes.
// Fixes issue with certain fonts rendering "fat"
// http://www.lighterra.com/articles/macosxtextaabug/


// No dotted outline when you click links
a:active {
	outline: none;
}

* {
  box-sizing: border-box;
}

img {
  -ms-interpolation-mode: bicubic;
  display: block; // Fixes phantom margins
}

svg:not(:root) { overflow: hidden; }
