fieldset {
  background: lighten($base-border-color, 10);
  border: 1px solid $base-border-color;
  margin: 0 0 ($base-line-height / 2) 0;
  padding: $base-line-height;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-bottom: $base-line-height / 4;
  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 4;
}

input[type="file"] {
  margin-bottom: $base-line-height / 2;
  padding-bottom: ($base-line-height / 3);
  width: 100%;
}

select {
  border-radius: 0;
  width: auto;
  max-width: 100%;
  margin-bottom: $base-line-height;
  -webkit-appearance: none;
  color: $white !important;
  &:focus {
    color: $white !important;
  }
}

input, textarea, select {
  @include transition(border-color 0.3s $ease-in-out-quint);
  padding: 10px 0;
  margin-bottom: 16px;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid $white;
  border-radius: 0;
  color: $white;
  font-weight: 300;
  line-height: 1em;
  letter-spacing: 1px;
  outline: none;
  @include placeholder {
    color: $white;
    color: rgba($white, .9);
  }
  &:hover {
    border-color: lighten($base-accent-color, 25%);
  }
  &:focus {
    border-color: $base-accent-color;
    color: $white;
    outline: none;
    @include placeholder {
      color: $white;
    }
  }
}

textarea {
  height: 2.5em;
}

// Form Validation

.failure, label.error {
  font-weight: 400;
  color: $red;
}

.failure { margin-bottom: 10px; }

label.error {
  font-size: .875em;
  margin-top: -15px;
  margin-bottom: 10px;
  display: none;
}

input.error, textarea.error {
  border-bottom-color: $red;
}

%form-response {
  background-color: $light-red;
  border-radius: $base-border-radius;
  display: none;
  margin-bottom: 20px;
  padding: 10px 15px;
  &.failure {
    display: block;
  }
}
