$huge: 1280px;
$desktop: 960px;
$mobile: 620px;
$tiny: 400px;
$tablet-max: $desktop - 1;
$tablet-min: $mobile + 1;
$huge-query: "only screen and (min-width: #{$huge})";
$desktop-query: "only screen and (min-width: #{$desktop})";
$desktop-and-below-query: "only screen and (max-width: #{$desktop})";
$tablet-and-above-query: "only screen and (min-width: #{$tablet-min})";
$tablet-query: "only screen and (min-width: #{$tablet-min}) and (max-width: #{$tablet-max})";
$tablet-and-below-query: "only screen and (max-width: #{$tablet-max})";
$mobile-query: "only screen and (max-width: #{$mobile})";
$tiny-query: "only screen and (max-width: #{$tiny})";

// @media screen and (max-width: 500px)
// @media #{$mobile-query}
