body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $unitless-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: 600;
  line-height: $header-line-height;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 { font-size: $base-font-size * 2.25; } // 16 * 2.25 = 36px
h2 { font-size: $base-font-size * 2; } // 16 * 2 = 32px
h3 { font-size: $base-font-size * 1.75; } // 16 * 1.75 = 28px
h4 { font-size: $base-font-size * 1.5; } // 16 * 1.5 = 24px
h5 { font-size: $base-font-size * 1.25; } // 16 * 1.25 = 20px
h6 { font-size: $base-font-size; }

p { margin: 0 0 ($base-line-height * .5); }

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    outline: none;
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
  height: auto;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

%title {
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.25em;
  text-align: center;
  @media screen and (max-width: 650px) { font-size: 1.875em; }
  @media screen and (max-width: 520px) { font-size: 1.525em; }
}
%headline {
  font-family: $serif;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
  @media screen and (max-width: 1020px) { font-size: 1.375em; }
  @media screen and (max-width: 860px) { font-size: 1.25em; }
  @media screen and (max-width: 690px) { font-size: 1.125em; }
}
