// Typography
$sans-serif: "Whitney SSm A", "Whitney SSm B", $helvetica; // 300, 400, 600, 700
$serif: "Mercury Display A", "Mercury Display B", $georgia; // 300, 400, 700, 900
$numbers: "Numbers Depot A", "Numbers Depot B", $georgia; // 300, 400, 700, 900
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(3);

// Colors
$white: #fff;
$blue: #1EA0DA;
$red: #F65A00;
$red-orange: #f3695e;
$orange: #f3975e;
$yellow: #d9b01d;
$error: darken($red-orange, 1%);

$light-gray: #e5e5e5;
$dark-gray: #1D262E;
$medium-gray: #626563;

$light-bluegray: #B3C0C8;
$lighter-bluegray: #E9EDEF;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Brand Colors
$facebook: #0071BC;
$twitter: #00acee;
$dribbble: #ea4c89;
$tumblr: #34526f;

// Background Color
$base-background-color: $white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $red-orange;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 10);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-bluegray;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
